<h1><%= @scientist.name %></h1>

Field of Study: <%= @scientist.field_of_study %>
<br><br>
Missions: 
<ul>
<% @scientist.missions.each do |mission| %>
    <li>Mission Name: <%= mission.name %>
    <ul>
    <li>Planet Visited: <%= link_to mission.planet.name, planet_path(mission.planet) %>
    </ul>
<%end %>
</ul>



<p><%= link_to "Edit Scientist", edit_scientist_path %></p>
<p><%= link_to "Log New Mission", new_mission_path %></p>
<p><%= link_to "Back to All Scientists", scientists_path %></p>

<p><%= button_to "Delete Scientist", scientist_path, method: :delete %></p>